*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(156, 139, 114);
    display: flex;
    justify-content: center;
}

.container{
    width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #000;
}

header{
    background-color: #5f5;
    width: 100%;
    border-radius: 10px 10px 0 0;
    text-align: center;
    letter-spacing: 10px;
    padding: 5px;
    border-bottom: 2px solid #000;
}

.container p{
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: underline 2px black;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}

form label{
    margin: 10px 10px 10px 0;
    width: 40%;
}

form input,
form select{
    width: 100%;
    padding: 10px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span{
    font-size: 12px;
    color: #777;
    margin-left: 10px;
    text-decoration: underline #777;
}

.sex{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

#submit{
    width: 30%;
    font-size: 18px;
    background-color: #5f5;
    font-weight: bold;
    padding: 15px;
    letter-spacing: 5px;
    border: none;
    box-shadow: 2px 2px 1px #000;
}