*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}


header{
    height: 120px;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav a:hover,
nav .active a{
    background-color: #00A6E6;
    color: white;
}

#banner{
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1,
.banner_headline h2{
    color: white;
    font-size: 19px;
    text-shadow: 0px 1px 0 #555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h1{
    font-size: 70px;
}

.banner_headline h2{
    font-size: 21px;
    margin-top: 30px;
}

.banner_options{
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3{
    flex: 1;
    color: white;
    padding: 20px;
}

.banner1,
.fm_1{
    background-color: #39aae1;
}

.banner2,
.fm_2{
    background-color: #0079c7;
}

.banner3,
.fm_3{
    background-color: #2b4c99;
}

.banner_title{
    font-size: 21px;
}

.banner_desc{
    font-size: 12px;
    margin: 20px 0;
}

.banner_options a{
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.banner_hours{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #335d99;
    margin: 20px 0 0 0;
    padding-bottom: 10px;
    font-size: 15px;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}

.widget_title{
    margin: 30px 0 20px;
}

.widget_title_text{
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.deps{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.dep{
    width: 150px;
    height: 150px;
    background: #36a9e1;
}

.contact_info{
    margin: 10px 0 0 0;
    padding-bottom:30px;
    border-bottom: 1px solid #ccc;
}

address{
    width: 100%;
    font-style: normal;
    font-size: 14px;
}

.contact{
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.contact img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    min-width: 300px;
    flex: 1;
    margin-right: 25px;
}

article a{
    text-decoration: none;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .news_comments{
    background-color: #39aae1;
    color: white;
    font-size: 12px;
    padding: 10px;
}

article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin: 25px 0;
    color: #000;
    font-size: 25px;
}

article .news_resume{
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

.flexColumn{
    flex-direction: column;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_menu{
    display: flex;
}

.fm_1, .fm_2, .fm_3{
    flex: 1;
    color: #fff;
}

.footer_menu a{
    padding: 25px;
    display: block;
    text-decoration: none;
    color: white;
}

.fm_title{
    font-size: 22px;
}

.fm_text{
    margin-top: 20px;
    font-size: 14px;
}

.footer_area{
    display: flex;
}

.footer_areaitem{
    color: white;
    flex: 1;
    margin-right: 15px;
}

footer .widget_title_text{
    color: white;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

footer .widget_body{
    font-size: 14px;
}

.footer_area .desc,
.footer_area .footer_contacttitle{
    color: #afafaf;
    margin: 30px 0 0 0;
}

.footer_area address{
    color: #afafaf;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 23px;
}

.footer_area address a{
    text-decoration: none;
    color: #fff;
}

.footer_area .social{
    display: flex;
    margin-top: 30px;
    gap: 3px;
}

.footer_area .social img{
    width: 33px;
}

.footer_area .widget_body ul li{
    list-style-image: url('../images/arrow.png');
    font-size: 14px;
    margin-bottom: 15px;
}

.footer_area .widget_body ul li span{
    color: #39aae1;
    line-height: 30px;
}

.footer_area .widget_body ul li a{
    text-decoration: none;
    color: #fff;
}

.footer_area .widget_body ul li{
    text-decoration: none;
    color: #afafaf;
}
