*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container{
    background-color: #ddd;
    width: 270px;
    height: 270px;
    
    padding: 50px 20px;
    font-size: 19px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

input{
    padding: 7px;
    width: 100%;
    border: none;
}