p{
    background-color: #5555ff;
    border-radius: 5px;
}

div{
    background-color: #00ff00;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid darkgreen
}

img{
    border: 5px solid #ff0000;
    border-radius: 20px;
}