*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container{
    width: 70%;
}

header, .main{
    display: flex;
    justify-content: center;
    background-color: #00197F;
    color: #fff;
}

header{
    height: 80px;
}

.main{
    height: calc(100vh - 80px);
}

.logo img{
    width: 50px;
}

.logo{
    font-size: 25px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
}

.content{
    width: 40%;
}

.content h1{
    font-size: 60px;
    margin: 0;
}

.content p{
    font-size: 20px;
    margin: 30px 0;
    line-height: 35px;
    color: #aaa;
}

.content button{
    background-color: #00ac8f;
    padding: 15px;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    margin: 0;
}

.image img{
    width: 500px;
}

.best-things{
    display: flex;
    justify-content: center;
}

.best-things span{
    font-size: 25px;
    width: 12%;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 60px 0 20px;
    padding: 0 30px;
    color: #aaa;
    border-left: 2px solid #fff;
}

.best-things span:nth-child(1){
    border: none;
}

.main-bottom p{
    text-align: center;
    color: #aaa;
    letter-spacing: 2px;
    font-size: 12px;
    margin: 60px 0 0 0;
}

.info{
    background-color: #c1c1ff;
    color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.info .title{
    display: flex;
    align-items: center;
    text-align: center;
    height: 25%;
}

.info .title h1{
    margin: 0;
    font-size: 60px;
}

.info .items{
    display: flex;
    height: 65%;
    justify-content: space-around;
    align-items: center;
}

.info .items .item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .items .item img{
    width: 220px;
    padding: 30px 75px;
    border: 5px solid #222;
    border-radius: 20px;
    background: #a1a1dd;
}

.info .final{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.info .final p{
    margin: 0;
    font-weight: bold;
}