:root{
    --main-color: #b28756;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    max-width: 1140px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.logoimg{
    width: 90px;
    height: 90px;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
    list-style-type: none;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 5px solid transparent;
    height: 100px;
    transition: .3s;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid var(--main-color);
    color: var(--main-color);
}

.button{
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
    margin-left: 0;
    transition: 1.5s;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
}

.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.banner .slidearea h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.banner .slidearea h1 span{
    color: var(--main-color);   
}

.banner .slidearea h2{
    text-transform: uppercase;
    margin-top: 10px;
}


.banner .sliders-pointers{
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .sliders-pointers .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 0 5px;
    cursor: pointer;
}

.banner .sliders-pointers .pointer.active{
    background-color: var(--main-color);
}


.default{
    padding: 50px 0;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin: 10px 0 40px 0;
}

.default .section-body{
    margin: auto;
    max-width: 1140px;
}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark{
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}









/*areas*/

.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right{
    width: 520px;
    text-align: center;
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 0 5px 10px #333;
}


.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #333;
}

.section-services:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    width: 70%;
    margin: 20px auto 10px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    font-size: 13px;
    color: #999;
}



.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
    transition: .3s;
}

.section-projects--filters li.active,
.section-projects--filters li:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}



.bg-team{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area{
    background-color: rgba(0, 0, 0, .8);
    padding: 50px 0;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders-team{
    width: 1000vw;
    height: 100%;
    margin-left: 0;
    transition: 1s;
}

.section-team .slide-team{
    width:280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-team .slidearea-team{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}


.section-team .sliders-pointers-team{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team .sliders-pointers-team .pointer-team{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 0 5px;
    cursor: pointer;
}

.section-team .sliders-pointers-team .pointer-team.active{
    background-color: var(--main-color);
}

.section-team--avatar{
    width: 150px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
}

.section-team--role{
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

.section-team--social{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.section-team--social a{
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.section-team--social a:hover{
    background-color: var(--main-color);
}