:root{
    --main-color: #b28756;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

header{
    height: 100px;
    background-color: #000;
    color: #fff;
}

.header{
    max-width: 1140px;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
}

.logo{
    width: 100px;
}

.logoimg{
    width: 90px;
    height: 90px;
}

.menu-opener{
    display: none;
}

.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li{
    list-style-type: none;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 5px solid transparent;
    height: 100px;
    transition: .3s;
}

.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid var(--main-color);
    color: var(--main-color);
}

.button{
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 13px 45px;
    margin-top: 30px;
    border-radius: 20px;
}

.banner{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
    margin-left: 0;
    transition: 1.5s;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
}

.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.banner .slidearea h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.banner .slidearea h1 span{
    color: var(--main-color);   
}

.banner .slidearea h2{
    text-transform: uppercase;
    margin-top: 10px;
}


.banner .sliders-pointers{
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .sliders-pointers .pointer{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 0 5px;
    cursor: pointer;
}

.banner .sliders-pointers .pointer.active{
    background-color: var(--main-color);
}


.default{
    padding: 50px 0;
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;
}

.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin: 10px 0 40px 0;
}

.default .section-body{
    margin: auto;
    max-width: 1140px;
}

.default.light{
    background-color: #f7f7f7;
}

.default.light .section-title,
.default.light .section-body{
    color: #000;
}

.default.dark{
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}

.default.light.bg-grey{
    background-color: #ddd;
}
.bg-grey .section-desc{
    color: #999;
}

button{
    border: none;
    margin: 60px auto 0;
    cursor: pointer;
}






/*areas*/

.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right{
    width: 520px;
    text-align: center;
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 0 5px 10px #333;
}


.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #333;
}

.section-services:first-child{
    border-left: 1px solid #333;
}

.section-service h4{
    width: 70%;
    margin: 20px auto 10px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p{
    font-size: 13px;
    color: #999;
}



.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
    transition: .3s;
}

.section-projects--filters li.active,
.section-projects--filters li:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}



.bg-team{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area{
    background-color: rgba(0, 0, 0, .8);
    padding: 50px 0;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders-team{
    width: 1000vw;
    height: 100%;
    margin-left: 0;
    transition: 1s;
}

.section-team .slide-team{
    width:280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}

.section-team .slidearea-team{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}


.section-team .sliders-pointers-team{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-team .sliders-pointers-team .pointer-team{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 0 5px;
    cursor: pointer;
}

.section-team .sliders-pointers-team .pointer-team.active{
    background-color: var(--main-color);
}

.section-team--avatar{
    width: 150px;
    height: auto;
}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
}

.section-team--role{
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

.section-team--social{
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.section-team--social a{
    display: inline-flex;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.section-team--social a:hover{
    background-color: var(--main-color);
}





.section-happy-clients{
    overflow: hidden;
    max-width: 900px;
    margin: auto;
}


.section-happy-clients .sliders-happy-clients{
    width: 1000vw;
    height: 100%;
    margin-left: 0;
    transition: 1s;
}

.section-happy-clients .slide-happy-clients{
    width: 900px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
}

.section-happy-clients .slidearea-happy-clients{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}


.section-happy-clients .client{
    text-align: center;
}

.section-happy-clients .client img{
    width: 150px;
    height: 150px;
}

.slide-happy-clients .client h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.slide-happy-clients .client p{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.slide-happy-clients .quote{
    text-align: center;
    margin-top: 30px;
}

.slide-happy-clients .quote p{
    margin-top: 15px;
    line-height: 25px;
    font-size: 14px;
}




.section-happy-clients .sliders-pointers-happy-clients{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-happy-clients .sliders-pointers-happy-clients .pointer-happy-clients{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 0 5px;
    cursor: pointer;
}

.section-happy-clients .sliders-pointers-happy-clients .pointer-happy-clients.active{
    background-color: var(--main-color);
}

.section-brands{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.section-brands ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.section-brands li:hover{
    opacity: .5;
}


.section-price{
    display: flex;
    gap: 30px;
}

.section-price .price-card{
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 3px;
}

.section-price .price-card .price-title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.section-price .price-card .price-price{
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
    display: flex;
}

.section-price .price-card span{
    color: #ccc;
    font-size: 10px;
    text-transform: uppercase;
}

.section-price .price-card .price-features ul{
    margin: 20px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.section-price .price-card .price-features ul li{
    font-size: 10px;
}

.section-price .price-card .price-features ul li.line{
    width: 15px;
    height: 1px;
    background-color: #000;
}

.section-price .price-card .price-button{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 40px;
    background-color: #333;
    border-radius: 20px;
    transition: .3s;
}

.section-price .price-card .price-button:hover{
    background-color: var(--main-color);
}

.plans-border{
    border-top: 1px solid#ccc;
}

.section-plans{
    overflow: hidden;
    max-width: 1140px;
    margin: auto;
}


.section-plans .sliders-plans{
    width: 1000vw;
    height: 100%;
    margin-left: 0;
    transition: 1s;
}

.section-plans .slide-plans{
    width: 1140px;
    height: 100%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

.section-plans .slidearea-plans{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 30px;
}

.section-plans .slidearea-plans .product-features{
    display: flex;
}

.section-plans .slidearea-plans .product-features .product-image,
.section-plans .slidearea-plans .product-features .product-feature{
    flex: 1;
}

.section-plans .slidearea-plans .product-features .product-feature .feature{
    list-style-image: url('../images/check.png');
    padding-left: 20px;
}

.section-plans .slidearea-plans .product-features .product-feature .feature h2{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.section-plans .slidearea-plans .product-features .product-feature .feature .feature-desc{
    font-size: 16px;
    color: #999;
    margin-bottom: 25px;
}

.section-plans .slidearea-plans .product-features .product-feature .feature .feature-desc .sub-feature{
    text-transform: uppercase;
    margin-top: 10px;
    list-style-type: none;
    list-style-image: none;
}

.section-plans .sliders-pointers-plans{
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-plans .sliders-pointers-plans .pointer-plans{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin: 0 5px;
    cursor: pointer;
}

.section-plans .sliders-pointers-plans .pointer-plans.active{
    background-color: var(--main-color);
}

.slide-button{
    text-align: center;
}


.section-facts{
    display: flex;
}

.section-fact{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.section-fact h2{
    color: var(--main-color);
    font-size: 50px;
}

.section-fact .fact-line{
    width: 20px;
    height: 3px;
    background-color: #999;
}

.section-fact h4{
    margin: 10px auto 10px;
    text-transform: uppercase;
    font-size: 18px;
    height: 50px;
}

.section-fact p{
    font-size: 13px;
    color: #999;
}

.social{
    border-bottom: 1px solid #ccc;
}

.social-area{
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.social-area .share-icon{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
}

.social-area .social-items{
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-area .social-item{
    width: 90px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.social-area .social-item a{
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #999;
}

.social-area .social-item a:hover{
opacity: .5;
}

.section-contact form{
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    margin: auto;
}

.section-contact input,
.section-contact textarea{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #999;
    width: 100%;
    padding: 0 0 10px 0;
    font-size: 14px;
    outline: 0;
    display:block;
    height:40px;
    background:transparent;
    margin-top: 30px;
}

.section-contact textarea{
    height: 100px;
    resize: none;
}

.section-contact .contact-split{
    display: flex;
    gap: 30px;
    width: 100%;
}

.section-map{
    background-image: url('../images/mapa.jpg');
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.section-map--area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #000;
}

.section-map--info-item{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 15px;
}

.section-map--info-item-img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    padding: 5px;
    background-color: #999;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

.section-map--info-item-img img{
    width: 15px;
    height: auto;
}



footer .section-body{
    display: flex;
}

.section-footer--left,
.section-footer--center,
.section-footer--right{
    flex: 1;
}

.section-footer--left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-footer--social{
    width: 90px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.section-footer--social .footer-social-item a{
    display: inline-flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, .5);
}

.section-footer--social .footer-social-item a:hover{
    background-color: var(--main-color);
}

.section-footer--center{
    color: #999;
    line-height: 23px;
}

.section-footer--right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 60px;
    margin: 0 20px;
    background-color: rgba(100, 100, 100, .5);
    height: 100%;
    border-radius: 3px;
}

.section-footer--right form input{
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    text-align: center;
    color: #ccc;
    padding: 10px;
    outline: none;
    font-size: 15px;
}




/* media*/

@media (min-width:450px) and (max-width:800px){
    .logo{
        margin-left: 30px;
    }

    .menu-opener{
        display: block;
        width: 45px;
        margin-right: 30px;
        cursor: pointer;
    }

    nav{
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, .9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }

    .show{
        display: flex;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li a:hover,
    .menu li a{
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 50px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
    }

    .section-aboutus{
        flex-direction: column;
    }

    .section-aboutus--left{
        margin: 0 30px 30px;
    }

    .section-aboutus--right{
        width: auto;
    }

    .section-facts,
    .section-services{
        flex-wrap: wrap;
    }

    .section-fact,
    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }

    .section-services:first-child{
        border-left: 0;
    }

    .section-team{
        max-width: 580px;
    }

    .section-happy-clients,
    .slide-happy-clients{
        max-width: 580px;
    }

    .section-price{
        flex-wrap: wrap;
        max-width: 580px;
        margin: auto;
    }

    .slidearea-plans{
        width: 100vw;
    }

    .slidearea-plans .product-features{
        flex-direction: column;
        align-items: center;
    }

    .slidearea-plans .product-feature ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }

    .section-map{
        padding: 30px;
    }

    .section-map--area,
    .section-map--info{
        width: auto;
    }

    .section-map--info-item{
        margin-bottom: 20px;
    }

    .section-map--info-item:last-child{
        margin-bottom: 0;
    }

    .section-footer--social{
        flex-wrap: wrap;
        width: 100%;
    }
}

@media (max-width:450px){
    @media (max-width:800px){
        .logo{
            margin-left: 30px;
        }
    
        .menu-opener{
            display: block;
            width: 45px;
            margin-right: 30px;
            cursor: pointer;
        }
    
        nav{
            display: none;
            position: absolute;
            z-index: 99;
            background-color: rgba(0, 0, 0, .9);
            width: 80vw;
            height: calc(100vh - 100px);
            top: 100px;
            right: 0;
        }
    
        .show{
            display: flex;
        }
    
        .menu ul{
            flex-direction: column;
        }
    
        .menu li a:hover,
        .menu li a{
            font-weight: bold;
            height: 60px;
            font-size: 20px;
            margin-left: 30px;
            border: 0;
        }
    
        .menu li.active a{
            border: 0;
        }

        .banner .slidearea h1{
            font-size: 30px;
        }

        .banner .slidearea h2{
            font-size: 17px;
        }
    
        .section-aboutus{
            flex-direction: column;
        }
    
        .section-aboutus--left{
            margin: 0 30px 30px;
        }
    
        .section-aboutus--right{
            width: auto;
            margin: 0 30px;
        }

        .section-aboutus--right img{
            width: 100%;
        }

    
        .section-facts,
        .section-services{
            flex-wrap: wrap;
        }
    
        .section-fact,
        .section-service{
            min-width: 100%;
            margin-bottom: 30px;
        }
    
        .section-services:first-child{
            border-left: 0;
        }

        .section-projects--filters{
            margin: 0 30px;
        }

        .section-projects--photo{
            width: 320px;
        }
   
        .section-projects--photoarea{
            width: 300px;
            height: 190px;
        }        

        .section-team{
            max-width: 280px;
        }
    
        .section-happy-clients,
        .slide-happy-clients{
            max-width: 400px;
        }

        .section-brands ul{
            flex-wrap: wrap;
            max-width: 400px;
            margin: auto;
        }

        .section-brands li{
            width: 30%;
        }
    
        .section-price{
            flex-wrap: wrap;
            max-width: 280px;
            margin: auto;
        }
    
        .slidearea-plans{
            width: 100vw;
        }
    
        .slidearea-plans .product-features{
            flex-direction: column;
            align-items: center;
        }
    
        .slidearea-plans .product-feature ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 280px;
        }

        .social-area{
            flex-direction: column;
            gap: 30px;
            align-items: center;
        }

        .social-items{
            flex-wrap: wrap;
            max-width: 400px;
            margin: auto;
            justify-content: center;
        }

        .social-item{
            min-width: 30%;
        }
    
        .section-map{
            padding: 0 0 250px 0;
        }
    
        .section-map--area,
        .section-map--info{
            width: auto;
        }
    
        .section-map--info-item{
            margin-bottom: 20px;
        }
    
        .section-map--info-item:last-child{
            margin-bottom: 0;
        }
    
        .section-footer--social{
            flex-wrap: wrap;
            width: 100%;
        }

        .section-footer--right form{
            padding: 20px;
            height: 30%;
        }
    }
}